BuildingBlocks_ConfigurationFile/Files/vSP_ms_BB_BB_Content.docx
BuildingBlocks_ConfigurationFile/Files/mslonik_logo_MS.svg
BuildingBlocks_ConfigurationFile/Files/vSP_ms_BB.dotm
Macros_ConfigurationFile/Files/vSP_ms_Macros.dotm
MenuRibbon_ConfigurationFile/Files/vSP_ms_QuickAccessToolbar.exportedUI
old/ms.dotm
old/WordCheatSheet.docx
Old_Microsoft Word_Startup/ReadMe.md
Old_Microsoft Word_Startup/Word Customized.lnk
Old_Styles_ConfigurationFile/ReadMe.md
Old_Styles_ConfigurationFile/Files/vSP_ms_Styles-3672.dotm
Old_Styles_ConfigurationFile/Files/vSP_ms_Styles.dotm
Normal_ConfigurationFile/old/ReadMe.txt
Normal_ConfigurationFile/old/Files/Normal.dotm
Normal_ConfigurationFile/old/Macros/Default/Default.bas
Normal_ConfigurationFile/old/Macros/ThisDocument/ThisDocument.cls
Old_Styles_ConfigurationFile/Macros/ThisDocument/ThisDocument.cls
Theme_ConfigurationFile/Files/vSP_ms_Theme.thmx
Macros_ConfigurationFile/Macros/temp/temp.bas
